[metadata]
id = "{{ project.id }}"
title = "{{ project.name}}"
author = "{{ project.name }} authors"
description = "{{ project.description }}"
website = "{{ project.website }}"
version = "{{ project.version }}"
release = 1
license = "{{ project.license }}"

src-url = "{{ project.src_url }}"

[build]
packages = []
